{% extends 'base.html' %}
{% load static %}
{% block title %} 
Home
{% endblock %}
{% block content %}
<!-- Slideshow container -->
<link rel="stylesheet" href="{% static 'css/slide.css' %}"  >

    
    <!--HTML Code-->
<!-- Slideshow Container Div -->
<div class="container">

    <!-- Full-width images with caption text -->
    <div class="image-sliderfade fade">
        <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/files/nurserylive-home-page-banner-buy-1-get-1-seeds-free-v3_7a31c468-0279-4ecc-b9f2-0405ac1115db_1349x500.jpg?v=1636743248" style="width:100%">
    </div>
    
    <div class="image-sliderfade fade">
        <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/files/nurserylive-home-page-banner-combo-pack-v3_1349x500.jpg?v=1636743217" style="width:100%">
    </div>
    
    <div class="image-sliderfade fade">
        <img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/files/nurserylive-home-page-banner-balcony-and-terrace-garden-metal-stand-v3_4976c128-13ab-4328-b195-64b88639692a_1349x500.jpg?v=1636743197" style="width:100%">
    </div>
    
    
    </div>
    <br>
    
    <!-- The dots/circles -->
    <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    </div>

    <div class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto my-2 text-center">
                    <h1 class="text-captitalze font-weight-bold">
                        All Product
                    </h1>
                </div>
            </div>
        </div>
    

    </div>

    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-9 mx-auto col-md-6 col-lg-3">
                <div class="card mb-5" style="border-color: transparent;">
                    <div class="p-4"> 
                         <a href="{{product.get_url}}">
                             <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
                         </a>
                    </div>
                    <div class="card-footer d-flex justify-content-between" style="background: transparent;border-color: transparent;">
                        <p class="font-weight-bold mb-0">
                            {{product.name}}
                        </p>
                        <h5 class="text-info font-italic mb-0">
                           <span class="mr-1">Rs</span>{{product.price}}
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <script src="{% static 'js/slide.js' %}"></script>
{% endblock %}