{% extends 'base.html' %}
{% load static %}
{% block title %} 
Product
{% endblock %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{% static 'img/product-2.png' %}" alt="">
        </div>
        <div class="col-10 mx-auto col-md-6 my-3">
            <div>
                <h1 class="product_title">
                    Dummmy title
                </h1>
                <h5 class="text-info font-italic mb-4">
                    <span class="mr-1">Rs</span>500 
                 </h5>
                <p class="product_description">
                    Dummy Description
                </p>
                <p class="text-justify product_text">
                    This is description for the product
                </p>
                <p class="text-justify product_text">
                    <b>Out if stock</b>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}